fastapi==0.115.7
uvicorn==0.34.0
psycopg[binary]==3.2.4
python-dotenv==1.0.1
coloredlogs==15.0.1
langchain==0.3.16
scikit-learn==1.6.1
langchain_community==0.3.16
langchain_ollama==0.2.2
langchain-elasticsearch==0.3.0
elasticsearch==8.17.0